.hero {
    display: flex;

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        color: $color-red;

        &:hover {
            color: black;
        }

        &:after {
            content: "test";
        }
    }
}