/* Global styles */
:root {
    --line-color: #828282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body {
    color: #070707;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.title {
    text-align: center;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}

/* Global styles end */

/* Header styles start */

.header__nav {
    display: flex;
    width: 496px;
    height: 30px;
    align-items: center;
    gap: 40px;

}


/* Чому це не працює як лінія?
.header__nav::after {
    display: flex;
    width: 970px;
    height: 10px;
    background-color: #828282;
} */


.header__container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--line-color);
    padding: 25px 0;
    margin-bottom: 12px;
}

.link {
    color: #828282;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.36px;
    text-decoration: none;
}

.header__link--active {
    color: #070707;
}

/* Header styles end */

/* Hero styles start */

.hero_title {
    text-align: left;
}

.hero_img {
    margin-top: 50px;
}

/* Hero styles end */

/* About styles start */

.about,
.portfolio {
    background-color: #F6F6F6;
}

.about__container {
    height: 500px;
}

.about__column {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.about__title {
    margin-bottom: 50px;
}

/* About styles end */

/* Skills styles start */

.skills {
    height: 564px;
    display: flex;
    justify-content: center;
}

.skills__title {
    margin-bottom: 20px;
}

.text {
    text-align: center;
}

.skills__row {
    display: flex;
    justify-content: space-around;
}

.skills__product {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 25px;
}

.skills__text {
    margin-bottom: 50px;
}

.product__text {
    color: #828282;
    font-size: 14px;
}

/* Skills styles end */

/* Portfolio styles start */

.portfolio {
    height: 2268px;
    display: flex;
}

.portfolio__title {
    margin-bottom: 50px;
}

.portfolio__pages {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 70px;
}

.portfolio__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portfolio__text {
    text-decoration-line: underline;
}

/* Portfolio styles end */

/* Contacts styles start */

.contacts {
    height: 400px;
    margin-top: 100px;
}

.contacts__heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__btn {
    display: flex;
    width: 180px;
    height: 44px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    background: #070707;
    color: #fff;
}

.contacts__links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.footer__text {
    color: #828282;
    font-size: 14px;
}

.contacts__social-media {
    text-decoration: none;
}

.contacts__container {
    display: flex;
    gap: 60px;
}

.footer__icons {
    display: flex;
    gap: 50px;
}

/* Contacts styles end */